<b> Reply to this comment: </b>

<form action="<%=comments_url%>" method="post">
  <input type="hidden" name="comment[post_id]" value="<%= @comment.post_id %>">
  <input type="hidden" name="comment[parent_comment_id]" value="<%= @ncomment.id %>">

  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">


  <label>
    Body:
    <br>
    <textarea name="comment[body]"></textarea>
  </label>

  <br>

  <input type="submit">
</form>
